.home-container{
    text-align: center;
    height: 550px;
    color: #4257a2; 
    background-image: url('https://raw.githubusercontent.com/JuliaFS/calisto/main/calisto/src/assets/financial-graphic.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}


.home-container h2{
    font-weight: bold;
    display: inline-block;
    padding: 3% 0 2% 0;
    margin-bottom: 4%;
    border-bottom: 3px dotted #4257a2;
}
.top-container{
    border: 1px solid #4257a2;
    padding: 6%;
    background-color: white;
}
.top-firms{
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

.top-name{
    border-bottom: 2px solid #4257a2;
    display: inline-block;
    font-weight: bold;
}

/*.top-container a{
    padding: 12px 5px 12px 10px;
    width: 50%;
    background-color: #4257a2;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.8em 0em;
    border: none;
    cursor: pointer;
}*/