<div class="container">
    <form>
        <div>
            <h4>Login</h4>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password">
        </div>
        <button (click)="login()">Login</button>
        <div>
            <a href="/register">Need Account?<span>Register here...</span></a>
        </div>
        <div>
            <a href="/forgotPassword">Forgot password? <span>Click here</span></a>
        </div>
    </form>
</div>