<div class="container">
    <form class="login" #form="ngForm" (ngSubmit)="login(form)">
        <fieldset>
            <h4>Login</h4>
        <div>
            <label for="email">Email</label>
            <input 
                type="email" 
                id="email" 
                name="email" 
                plaseholder="Enter email here..."
                ngModel
                #inputEmail="ngModel"
                required
            >
        </div>
    <ng-container *ngIf="inputEmail.touched">
      <p class="error" *ngIf="inputEmail.errors?.['required']">
        Email is required!
      </p>
      <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
        Email is not valid!
      </p>
    </ng-container>

        <div>
            <label for="password">Password</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                placeholder="Enter your password here..."
                ngModel
                #inputPassword="ngModel"
                required
                minlength="5";
            >
        </div>

        <!--<button (click)="login()">Login</button>-->

        <button
        [disabled]="form.invalid"
        [style]="{ backgroundColor: form.invalid ? 'grey' : 'blue' }"
      >
        Login
      </button>
        <div>
            <a href="/register">Need Account?<span>Register here...</span></a>
        </div>
        <div>
            <a href="/forgot-password">Forgot password? <span>Click here</span></a>
        </div>
        <div>
            <a (click)="signInWithGoogle()">
                <img src="../../../assets/icons8-google-48.png" height="24px" width="24px" alt="Google icon">
                <span>Sign in with Google</span>
            </a>
        </div>
    </fieldset>
    </form>
</div>