<section class="details-container">
  <header>
    <h2>Company Details</h2>
  </header>
  <table>
    <tbody>
      <tr>
        <td>Company name</td>
        <td>{{currentCompany.name}}</td>
      </tr>
      <tr>
        <td>Company Country</td>
        <td>{{currentCompany.country}}</td>
      </tr>
      <tr>
        <td>Working capital</td>
        <td>{{currentCompany.working_capital}}</td>
      </tr>
      <tr>
        <td>Invested capital</td>
        <td>{{currentCompany.invested_capital}}</td>
      </tr>
        <tr *ngIf="userId == currentCompany.owner">
            <td><a class="buttons" routerLink="/company/edit-company/{{companyId}}">Edit</a></td>
          <td><button class="buttons" (click)="showModal()">Delete</button></td>
         
      </tr>
    </tbody>
  </table>
  <div *ngIf="isClickedDelete">
    <app-modal [message]="message" (clickEvent)="deleteCompany()" />
  </div>
</section>