<!-- 
    <div >
      <h4>Companies List List</h4>
      <table >
        <tbody>
            <tr *ngFor="let company of companies; let i = index"
            [class.active]="i == currentIndex">
            <td>{{ company.name }}</td>
            <td>{{ company.country }}</td>
            <td>{{ company.working_capital }}</td>
            <td>{{ company.invested_capital }}</td>
            <td><a routerLink="/company/edit-company/{{company.id}}">Edit</a></td>
            <button (click)="setActiveCompany(company)">Edit</button>
            </tr>
        </tbody>
    </table>
    </div>
    <div >
      <div *ngIf="currentCompany">
        <app-company-details
          (refreshList)="refreshList()"
          [company]="currentCompany"
        ></app-company-details>
      </div>
  
      <div *ngIf="!currentCompany">
        <br />
        <p>Please click on a Company...</p>
      </div>
    </div> -->



<table>
    <thead>
        <tr>
            <th>Company name</th>
            <th>Company Country</th>
            <th>Working capital</th>
            <th>Invested capital</th>
        <tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companyList">
            <td>{{ company.name }}</td>
            <td>{{ company.country }}</td>
            <td>{{ company.working_capital }}</td>
            <td>{{ company.invested_capital }}</td>
            <td>
                <!--<button (click)="companyDetails(company)">Details</button>-->
                <!--<button (click)="getOne(company)">-->
                <a routerLink="/company/company-details/{{company.id}}">Details</a>
            </td>
        </tr>
    </tbody>
</table>