table{
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
}
th, tr{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;  
}
th{
    background-color: #4257a2;
    color: white;
}

td, th{
    border: 1px solid #ddd;
    padding: 10px;
}

tr:hover{
    background-color: #cdedfa;
}

tr:nth-child(even){
    background-color: #eef4f8;
}
.table-container a{
        padding: 0.5em;
        text-decoration: none;
        border-radius: 5px;
        background-color: #4257a2;
        color: white;
        font-weight: bold;
        margin: 0.8em 0em;
        cursor: pointer;
}

