<div *ngIf="isLoading">
  <app-loader />
</div>

<ng-container *ngIf="message!=''">
  <p>{{ message }}</p>
</ng-container>

<div *ngIf="!isLoading" class="table-container">
  <table>
    <thead>
      <tr>
        <th>Company name</th>
        <th>Company Country</th>
        <th>Working capital</th>
        <th>Invested capital</th>
        <th>Action</th>
      <tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companyList">
        <td>{{ company.name }}</td>
        <td>{{ company.country }}</td>
        <td>{{ company.working_capital }}</td>
        <td>{{ company.invested_capital }}</td>
        <td>
          <a routerLink="/company/company-details/{{company.id}}">Details</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>