<div class="container">
    <form class="forgot-password">
        <div>
            <h2>Forgot password</h2>
        </div>
        <div class="input-container">
            <label for="email">Email</label>
            <input 
            type="email" 
            id="email" 
            name="email" 
            class="form-control" 
            [(ngModel)]="email"
            [appEmail]="domains"
        >
        </div>
        <button (click)="forgotPassword()">Send link</button>
        <div>
            <a href="/auth/login">Alreay have Account? Back to <span>login</span></a>
        </div>
        <!--<div>
            <a href="/auth/forgot-password">Forgot password? <span>Click here</span></a>
        </div>-->
    </form>
</div>

