<!--<div *ngIf="!submitted">
    <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="company.name"
        name="name"
      />
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <input
        class="form-control"
        id="country"
        required
        [(ngModel)]="company.country"
        name="country"
      />
    </div>

    <div class="form-group">
        <label for="working_capital">Working capital</label>
        <input
          class="form-control"
          id="working_capital"
          required
          [(ngModel)]="company.working_capital"
          name="working_capital"
        />
      </div>

      <div class="form-group">
        <label for="invested_capital">Invested capital</label>
        <input
          class="form-control"
          id="invested_capital"
          required
          [(ngModel)]="company.invested_capital"
          name="invested_capital"
        />
      </div>

      <div class="form-group">
        <input
          class="form-control hidden"
          id="author"
          required
          type="text"
          [(ngModel)]="company.name"
          name="author"
        />
      </div>
    </form>
      <div>{{userId}}</div>
    <button (click)="saveCompany()">Submit</button>
  </div>

  <div *ngIf="submitted">
    <h4>You submitted successfully!</h4>
    <button (click)="newCompany()">Add</button>
  </div>-->


<div>
    <h1>Add Company</h1>
    <form >
        <div class="form-control">
            <label for="name">Company Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="name">
        </div>
        <div class="form-control">
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" [(ngModel)]="country">
        </div>
        <div class="form-control">
            <label for="working_capital">Working capital:</label>
            <input type="text" id="working_capital" name="working_capital" [(ngModel)]="working_capital">
        </div>
        <div class="form-control">
            <label for="invested_capital">Invested capital:</label>
            <input type="text" id="invested_capital" name="invested_capital" [(ngModel)]="invested_capital">
        </div>
        <div>
          <button (click)="addCompany()">Add company</button>
      </div>
    </form>
</div>
